@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

body, html {
  background-color: black;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

option {
  background-color: #171715 !important;
  border-color: 1px solid #9a8866 !important;
  color: #9a8866 !important;
}